In [586]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

In [587]:
chrome_path = '/Users/sukhmansingh/Downloads/chromedriver'
driver = webdriver.Chrome(chrome_path)

In [588]:
# Maximize the browser window
driver.maximize_window()

In [589]:
#navigate to google translate page 
driver.get("https://translate.google.co.in/")

In [582]:
#Automating language option on the translate side as 'Hindi' 
driver.find_element_by_xpath("""//*[@class="tl-more tlid-open-target-language-list"]""").click()
time.sleep(3)
# driver.implicitly_wait(10)
# driver.find_element_by_xpath("""//div[@class="language_list_item language_list_item_language_name"]""").click()
driver.find_element_by_xpath("""//*[@class="language_list_item_wrapper language_list_item_wrapper-hi"]""").click()




# #Automating language option on the left side (source) as 'English'
# time.sleep(3)
driver.find_element_by_xpath("""//*[@class="sl-more tlid-open-source-language-list"]""").click()
time.sleep(3)
driver.find_element_by_xpath("""//*[@class="language_list_item_wrapper language_list_item_wrapper-en"]""").click()

In [329]:
df_trans = pd.read_csv('Marati_Other_Meaning.csv')

In [276]:
#Using first 5000 words for translation
df_trans_350 = df_trans.head(350)

In [303]:
#find element
#text_field = driver.find_elements_by_class_name("text")
#text_field = driver.find_element_by_class_name("tlid-input-area input-area less-padding")
text_field = driver.find_element_by_xpath("""//*[@id="source"]""")
#text_field.send_keys("\n".join(df_trans_350['English']))

#not required because the text is already entered into the textbox
#text_field.send_keys(Keys.ENTER)

In [313]:
#To clear the text field 
text_field.clear()

In [584]:
translations = driver.find_elements_by_xpath("""//*[@class="result-shield-container tlid-copy-target"]""")

for post in translations:
    print(post.text)

sukhman
है
ए
अच्छा
लड़की

In [280]:
list_hindi = post.text.splitlines()
#se = pd.Series(list_t)
#df['new_col'] = se.values
#df_trans_5000['Hindi'] = se.values
#print(len(se.values))
print(len(list_hindi))

350

In [281]:
#Usinf first 5000 words for translation

english_list = df_trans_350['English'].to_list()
print(len(english_list))

350

In [287]:
df_final = pd.DataFrame({'English': english_list, 'Hindi': list_hindi})
df_final

                             English                            Hindi
0                          reheating                     बार-बार गर्म
1                           misapply           अनुचित कार्य में लगाना
2                        alkylarenes                      alkylarenes
3                    imaginary parts                     काल्पनिक भाग
4                        sketch-book                     स्केच पुस्तक
..                               ...                              ...
345                              1mm                           1 मिमी
346                    great strides                 उल्लेखनीय प्रगति
347  dichlorodiphenyltrichloroethane  dichlorodiphenyltrichloroethane
348                    not care less                   कम देखभाल नहीं
349                         gravitas                          गंभीरता

[350 rows x 2 columns]

In [528]:
df_temp = df_trans.head(20)
df_temp

                  English
0               reheating
1                misapply
2             alkylarenes
3         imaginary parts
4             sketch-book
5   inconsistent equation
6             bradycardia
7                  suface
8              eurocheque
9                acosmism
10               cover-up
11             l mol–1k–1
12                  13.3a
13      one of these days
14           accommodated
15        liquid hydrogen
16        right ventricle
17                confine
18           word phenone
19       unit cell × mass

In [531]:
list_text = []
d = {}

for i, row in df_temp.iterrows():
    list_text.append(row['English'])   
    if((i+1)%5 == 0):
        print("Batch:",int(i/5)+1)
        eng_text_batch ='\n'.join(list_text)

        text_field = driver.find_element_by_xpath("""//*[@id="source"]""")
        text_field.send_keys(eng_text_batch)
        time.sleep(3)
        hindi_trans = driver.find_elements_by_xpath("""//*[@class="result-shield-container tlid-copy-target"]""")
        hindi_list = hindi_trans[0].text.split("\n")
        
        for j in range(len(list_text)):
            eng_text_key = list_text[j]
            hindi_value = hindi_list[j]
            d[eng_text_key] = hindi_value
            
        list_text = []
        text_field.clear()

Batch: 1
Batch: 2
Batch: 3
Batch: 4

In [530]:
print(d)

{'reheating': 'बार-बार गर्म', 'misapply': 'अनुचित कार्य में लगाना', 'alkylarenes': 'alkylarenes', 'imaginary parts': 'काल्पनिक भाग', 'sketch-book': 'स्केच पुस्तक', 'inconsistent equation': 'असंगत समीकरण', 'bradycardia': 'मंदनाड़ी', 'suface': 'suface', 'eurocheque': 'eurocheque', 'acosmism': 'acosmism', 'cover-up': 'छिपाना', 'l mol–1k–1': 'l मोल -1 क -1', '13.3a': '13.3a', 'one of these days': 'इन दिनों में', 'accommodated': 'समायोजित', 'liquid hydrogen': 'तरल हाइड्रोजन', 'right ventricle': 'दाहिना वैंट्रिकल', 'confine': 'सीमित', 'word phenone': 'शब्द फेनोन', 'unit cell × mass': 'इकाई सेल × द्रव्यमान'}

In [422]:
text_field.clear()

0
1
2
3
4
done
5
6
7
8
9
done
10
11
12
13
14
done
15
16
17
18
19
done

In [459]:
list_sex = ['a','b','c','d','e']

target = 'abcde'

#print(list_sex[0] + list_sex[1] + list_sex[2])

''.join(list_sex)

'abcde'

In [468]:
list_text = []
for i, row in df_temp.iterrows():
    #print(i,row['English'])
    list_text.append(row['English'])
    if((i+1)%5 == 0):
        x ='\n'.join(list_text)
        list_text = []
        print(x)
        print('-'*20)
        
#print(list_text)

reheating
misapply
alkylarenes
imaginary parts
sketch-book
--------------------
inconsistent equation
bradycardia
suface
eurocheque
acosmism
--------------------
cover-up
l mol–1k–1
13.3a
one of these days
accommodated
--------------------